In [90]:
import pandas as pd
import geopandas as gpd

In [91]:
silo_path = '/Users/alexk/indigo_challenge/inputs/silos_ilmenard/silos_ilmenard.shp'

parcel_path = '/Users/alexk/indigo_challenge/inputs/parcels_ilmenard/parcels_ilmenard.shp'

In [92]:
silo_df = gpd.read_file(silo_path)
parcel_df = gpd.read_file(parcel_path)

In [93]:
silo_df.head()

    DIAMETER                                           geometry
0   5.970181  POLYGON ((-89.761038140355 40.11017998598363, ...
1   5.782834  POLYGON ((-89.7610309374848 40.110121105254, -...
2   4.725118  POLYGON ((-89.76101939039121 40.1101153080984,...
3  10.958176  POLYGON ((-89.7645452732458 40.11338562571487,...
4   8.454480  POLYGON ((-89.7647079257188 40.11342932677454,...

In [94]:
parcel_df.head()

,ACRES,ADDRESS,ALTERNATE_,ASSESSED_L,CITY,COUNTY,CURRENT_01,CURRENT_AS,DATE_LAST_,DATE_OF_SA,...,TAXBILL_YE,TAX_BILLED,TAX_CODE,TAX_STATUS,TOWNSHIP,TOWNSHIP_N,VET_FLAG,VEZ_FLAG,XMPT_FLAG,geometry
0,0.04,None,None,None,fancy-prairie-no-3,menard,None,None,None,None,...,None,NaN,None,None,None,None,None,None,None,POLYGON ((-89.59984228998277 39.99621069681282...
1,0.03,None,None,None,petersburg-east-no-13,menard,None,None,None,None,...,None,NaN,None,None,None,None,None,None,None,POLYGON ((-89.83210357890695 39.99015144928946...
2,2.17,None,None,None,athens-north-no-2,menard,None,None,None,None,...,None,NaN,None,None,None,None,None,None,None,POLYGON ((-89.75191577222456 39.98237372238361...
3,0.01,None,None,None,petersburg-north-no-14,menard,None,None,None,None,...,None,NaN,None,None,None,None,None,None,None,"POLYGON ((-89.85153763818347 40.0179303771223,..."
4,1.14,None,None,1459840364000,petersburg-south-no-15,menard,SA,2016,None,None,...,2014,0,11004,T,11,T18N R7W,N,N,N,POLYGON ((-89.84594642998294 39.99943392351625...

In [95]:
headers = parcel_df.columns

print headers

#for i in parcel_df.columns:
    
#    print parcel_df[i].unique()

Index([     u'ACRES',    u'ADDRESS', u'ALTERNATE_', u'ASSESSED_L',
             u'CITY',     u'COUNTY', u'CURRENT_01', u'CURRENT_AS',
       u'DATE_LAST_', u'DATE_OF_SA',   u'DIS_FLAG', u'DOCUMENT_N',
       u'DOCUMEN_01',   u'DRN_FLAG',   u'DV1_FLAG',   u'DV2_FLAG',
        u'EAV_VALUE',   u'FAF_FLAG', u'FARM_ACRES', u'FARM_BUILD',
        u'FARM_LAND',        u'FID',      u'GEOID', u'GROSS_ACRE',
         u'HEL_FLAG',   u'HEP_FLAG',   u'HES_FLAG',   u'HIE_FLAG',
         u'HIS_FLAG', u'HOMESITE_A', u'INSTALL_01', u'INSTALL_1_',
       u'INSTALL_2_',       u'LASS',      u'LEGAL', u'LOT_DIMENS',
       u'MAILTO_ADD', u'MAILTO_CSZ', u'MAILTO_NAM', u'MAILTO__01',
       u'NET_SALE_P', u'NON_FARM_B', u'NON_FARM_L',   u'OBJECTID',
          u'OGC_FID',      u'OWNER', u'OWNER1_ADD', u'OWNER1_CSZ',
       u'OWNER1_DOC',  u'OWNER1_ID', u'OWNER1__01', u'OWNER2_ADD',
       u'OWNER2_CSZ', u'OWNER2_DOC',  u'OWNER2_ID', u'OWNER2_NAM',
       u'OWNER2__01', u'OWNER3_ADD', u'OWNER3_CSZ', u'OWNER3_DOC',
        u'OWNER3_ID', u'OWNER3_NAM', u'OWNER3__01', u'PARCELNUMB',
       u'PARCEL_NUM',       u'PATH', u'PRIOR_TAXB', u'PRIOR_T_01',
       u'PRIOR_T_02', u'PY_FARM_BL', u'PY_FARM_LA', u'PY_NON_FAR',
       u'PY_NON__01',   u'RVT_FLAG',   u'SAF_FLAG',   u'SITE_CSZ',
             u'SQFT',      u'STATE', u'TAXBILL_01', u'TAXBILL_AD',
       u'TAXBILL_CS', u'TAXBILL_NA', u'TAXBILL_RA', u'TAXBILL_TA',
       u'TAXBILL_YE', u'TAX_BILLED',   u'TAX_CODE', u'TAX_STATUS',
         u'TOWNSHIP', u'TOWNSHIP_N',   u'VET_FLAG',   u'VEZ_FLAG',
        u'XMPT_FLAG',   u'geometry'],
      dtype='object')

In [96]:
#for item in parcel_df['OWNER'].unique():
        #print item

In [97]:
parcel_df['OWNER'].nunique()

6250

In [98]:
parcel_df['OWNER'].count()

11839

In [99]:
#parcel_df[parcel_df['OWNER']=='CLAYTON JACOB E']

In [100]:
parcel_df['OWNER'].value_counts().head()

CITY OF PETERSBURG             124
LAKE PETERSBURG ASSOCIATION     89
GRIGSBY FAMILY PARTNERSHIP      67
STATE OF ILLINOIS               66
ILLINOIS & MIDLAND RAILROAD     63
Name: OWNER, dtype: int64

In [101]:
parcel_df['OWNER1_ID'].value_counts().head()

25158    64
25161    37
25372    36
24107    32
18281    29
Name: OWNER1_ID, dtype: int64

In [102]:
farm_parcels_df = parcel_df[parcel_df['FARM_ACRES']>0]
#farm_parcels_df.sort_values(by='FARM_ACRES')

In [103]:
farm_parcels_by_owner_df = farm_parcels_df[['OWNER','FARM_ACRES']]

In [104]:
farm_parcels_by_owner_df

owner_farm_acres_sum = farm_parcels_by_owner_df.groupby(['OWNER']).sum()

owner_farm_acres_sum.sort_values(by=['FARM_ACRES'], inplace=True, ascending=False)

owner_farm_acres_sum.head()

                                FARM_ACRES
OWNER
GRIGSBY FAMILY PARTNERSHIP         4738.60
AG HOLDINGS PLUS LLC               2362.88
LOZIER JOHN G                      2038.40
KINCAID MARGARET G TRUSTEE         1874.83
THOMAS MICHAEL & KEVIN CO-EXEC     1279.62

In [105]:
#OWNER MAY HAVE SILO ON LAND THAT DOES NOT HAVE FARM ACREAGE

#parcel_df[parcel_df['OWNER'].isin(owner_farm_acres_sum.OWNER.tolist())]

#select unique OWNER values that own farm land
    # select all their parcels (even if not including farm land - maybe only if >70% of parcels are farmed - 'farmer confidence metric')
    # spatial match between this parcel subset and silos
    #screen for silo/circles that are 4-20m in diameter and in groups of 3 or more
    # silos - look at diameter
    # pull heights based on diameter (using ancillary data source)
    
    
#include lookup table to pull heights based on diameter (maybe create dummy dictionary to store value)
###maybe look into pulling info (or sample info) from the linked catalogue